.movie-card-img {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.card {
    margin-top: 1%;
    margin-bottom: 2%;
}

//webkitbox and line-clamp sets the number of lines until ellipsis appears
.movie-card-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20ch;
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .card {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 430px) {
    .card {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 430px) {
    .card {
        margin-top: 25%;
    }
}
